/* Reset CSS básico */

/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto total del elemento */
}

/* Establecer estilos base para HTML y BODY */
html, body {
    font-family: Arial, sans-serif; /* Establecer una fuente predeterminada */
    font-size: 16px; /* Tamaño de fuente predeterminado */
    line-height: 1.5; /* Espaciado entre líneas predeterminado */
}

/* Eliminar decoraciones de texto para enlaces */
a {
    text-decoration: none;
    color: inherit; /* Heredar el color del texto */
}

/* Establecer estilos para listas */
ul, ol {
    list-style: none; /* Eliminar viñetas/bolitas predeterminadas */
}

/* Establecer estilos para imágenes */
img {
    max-width: 100%; /* Asegurar que las imágenes no excedan su contenedor */
    height: auto; /* Permitir que las imágenes mantengan su relación de aspecto */
}
